@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html{
    overflow: -moz-hidden-unscrollable;
}

main{
    background-color: whitesmoke;
}