main {
    height: 100vh;
    width: 100%;
}

.container-main{
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: white;
    .container-preferences{
        height: 100vh;
        width: 20%;
        min-width: 270px;
        background-color: whitesmoke;
        padding-left: 30px;
        padding-right: 30px;
        border-right: solid 1px lightgrey;
    }
    .container-content{
        height: 100vh;
        width: 80%;
        background-color: white;
        padding-left: 150px;
        padding-right: 150px;
        padding-top: 50px;
        padding-bottom: 100px;
        overflow-y: auto;
        span{
            padding-left:10px
        }

    }
}

.form-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
    margin-top: 20px;
    h5{
        margin-bottom: 10px;
    }
    label{
        margin-left:10px;
        margin-bottom: 5px;
    }
}

.btn-primary{
    margin-top: 5px;
}

.text-input{
    margin-bottom: 15px;
}

.inline{
    display: flex;
    flex-direction: row;
    button{
        height: 50%;
    }
}

.card{
    margin-bottom: 30px !important;
    background-color: rgb(250, 250, 250);
}